langchain
langchain-community
langchain-core
langchain-groq
langchain-google-genai
langchain-mistralai
langchain-openai
langchain-huggingface

python-dotenv

sentence-transformers
chromadb
pypdf
unstructured
beautifulsoup4
tiktoken
tqdm

streamlit
fastapi
uvicorn

python-dotenv
langchain-text-splitters
